.page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: auto 0 0;
  padding: 3rem 0;
  background: var(--bg-color-alt);
}

.form h1 {
  margin: 0 0 2rem;
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-light);
  color: var(--heading-color);
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 100% 1 1;
  padding: 3rem 0;
  background: var(--bg-color);
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 0 1rem;
}

@media screen and (max-width: 479px) {
  .form,
  .result {
    padding: 1.75rem 0;
  }
  .form h1 {
    margin-bottom: 1.25rem;
  }
}
